#setuptools==68.2.0  # due to pyhon3.12
pandas==1.5.2
# geopandas==0.14
numpy==1.24.2
matplotlib
plotly
requests
sqlalchemy==1.4.46
psycopg2
apscheduler
boto3
protobuf==3.20.0
dash==2.14.2
dash-bootstrap-components
dash-table
dash-extensions
dash-leaflet==0.1.23  # not updated will be later updated .
colorlover
colour
tqdm
gunicorn
pyTelegramBotAPI
cryptography