.leaflet-left.left-0 {
    right: 0 !important;
}

.top-toolbar {
    margin: auto;
    padding: 5px 5px 2px 5px; /*top right bot left*/
    gap: 3px;
    border-bottom: 1px solid black;
    background-color: white;
    /*position: absolute;*/
    position: relative;
    z-index: 999;
    width: 100%;
    height: 8.5vh;
    font-size:smaller;
    top: 0;
    right: 0;
    direction: rtl;
    /*margin-right: 10px;*/
    display: flex;
}

.asset-images {
    display: flex;
}

p.rtl {
    direction: rtl;
}

.input-ltr {
    direction: ltr;
    unicode-bidi: bidi-override;
    text-align: right;
    width: 3em;
}

.text-ltr {
    direction: ltr;
    unicode-bidi: bidi-override;
    /*text-align: right;*/
}

.text-rtl {
    direction: rtl;
    /*unicode-bidi: bidi-override;*/
    /*text-align: right;*/
}

/*https://stackoverflow.com/questions/36469631/how-to-get-leaflet-for-r-use-100-of-shiny-dashboard-height?rq=1*/
#big-map {
    height: calc(100vh - 9vh) !important;
}

.price-diff-table td, .price-diff-table th {
    border:1px solid black;
    direction: ltr;
    unicode-bidi: bidi-override;
    /*position: absolute;*/
    /*display: block;*/
}

.tooltip-icon{
    width: 28px;
    height: 28px;
}
/*{*/
/*    border-width: 1px;*/
/*    border-color: black;*/
/*}*/

.marker-div-image{
    width: 28px;
    height: 28px;
}

.marker-div-span{
    background-color: white;
    color: black;
    padding: 3px;
    /*border: 1px solid black;*/
    position: center;
}

.sidebar-info-text{
    font-size: 1vw;

}

#state-asset{
    /*display:flex;*/
    width: 100%;
    /*overflow-y: scroll;*/
    /*overflow: hidden;*/
}

#table-container{
    top: 100px;
    font-size: 0.875em;
    /*width: 10em;*/
    height: 100%;
}

.grid-container {
    margin: auto;
    /*display:flex;*/
    gap:10px;
    /*padding: 10px;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*!*grid-*!*/
    /*grid-gap: 0px*/
}


.left-container{
    float: left;
    width: 22%;
    /*overflow: scroll;*/
}

.right-container{
    /*margin-left: 22%;*/

    /*float: left;*/
    /*width: 85%;*/
}

.marker-div{
    /*border: black 1px solid;*/

    /*display:grid;*/
    /*font-size: small;*/
    font-weight: bold;
    padding:2px
}
.marker-div-span{
    /*text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;*/
    padding:3px;
    color: white;
    border-radius: 25px;
}

.dash-spreadsheet-menu{ /*used to remove toggle columns in table*/
    display: None !important;
}

.slider-container{
    min-width: 10em;
    text-align: center;
    direction: ltr;
}

.rounded-checkbox {
  width:14px;
  height: 14px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}