/*!*.float-container {*!*/
/*!*    border: 3px solid #fff;*!*/
/*!*    padding: 20px;*!*/
/*!*}*!*/

/*!*.float-child {*!*/
/*!*    width: 50%;*!*/
/*!*    float: left;*!*/
/*!*    padding: 20px;*!*/
/*!*    border: 2px solid red;*!*/
/*!*}*!*/
/*.flex-container {*/
/*    width: 100%;*/
/*    overflow:hidden;*/
/*    position: relative;*/
/*    !*display: flex;*!*/
/*}*/

/*.left-div {*/
/*    margin: 0;*/
/*    width: 60%;*/
/*    height: 100%;*/
/*    float: left;*/
/*    !*flex: 1;*!*/
/*    !*border: 2px solid yellow;*!*/
/*}*/

/*!*.right-div {*!*/
/*!*    !*display:none;*!*!*/
/*!*    height: 500px;*!*/
/*!*    width: 50%;*!*/
/*!*    position: absolute;*!*/
/*!*    right:0;*!*/
/*!*    float:right;*!*/
/*!*    z-index: 1000;*!*/
/*!*    opacity: 70%;*!*/
/*!*    !*margin-left: 100px;*!*!*/
/*!*    !*flex: 1;*!*!*/
/*!*    !*border: 2px solid red;*!*!*/
/*!*}*!*/

.leaflet-left.left-0 {
    right: 0 !important;
}

.top-toolbar {
    margin: auto;
    padding: 5px 5px 2px 5px; /*top right bot left*/
    gap: 7px;
    border-bottom: 1px solid black;
    background-color: white;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    right: 0;
    direction: rtl;
    /*margin-right: 10px;*/
    display: flex;
}

.asset-images {
    display: flex;
}

p.rtl {
    direction: rtl;
}

.input-ltr {
    direction: ltr;
    unicode-bidi: bidi-override;
    text-align: right;
    width: 4em;
}

.text-ltr {
    direction: ltr;
    unicode-bidi: bidi-override;
    text-align: right;
}

/*https://stackoverflow.com/questions/36469631/how-to-get-leaflet-for-r-use-100-of-shiny-dashboard-height?rq=1*/
#map {
    height: calc(100vh - 25px) !important;
}

.price-diff-table td, .price-diff-table th {
    border:1px solid black;
    direction: ltr;
    unicode-bidi: bidi-override;
}

/*{*/
/*    border-width: 1px;*/
/*    border-color: black;*/
/*}*/